# LLM
OLLAMA_URL=http://ollama:11434
LLM_MODEL=qwen2.5:14b
LLM_SQL=qwen2.5-coder:14b
EMBED_MODEL=bge-m3
GROQ_API_KEY=xxx
DEEP_SEEK_KEY=sk-xxxxxxxxx

# Redis
REDIS_URL=redis://redis:6379
VS_INDEX_NAME=multi_agent_rag

# MySQL
MYSQL_USER=agent
MYSQL_ROOT_PASSWORD=changeit
MYSQL_URL=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=mydb

# MinIO
MINIO_URL=http://minio:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=changeit
MINIO_BUCKET=skills

# Observability
TEMPO_URL=http://tempo:4317

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=xxx
LANGCHAIN_PROJECT=default

# Tavily
TAVILY_API_KEY=xxx

# App
THREAD_ID=xxx
GITHUB_TOKEN=xxx

# mcp agent
STOCK_AGENT_URL=http://stock-agent:8002

#vector store
QDRANT_URL=http://qdrant:6333
QDRANT_NEWS_COLLECTION=stock_news
QDRANT_PROFILE_COLLECTION=stock_profile
QDRANT_BUSINESS_BREAKDOWN_COLLECTION=stock_business_break_down

#cuda
CUDA_RERANK_URL=http://cuda_service:8000/api/v1/rerank